<!DOCTYPE html>
<html>
  <head>

    <title>Something whatever</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<a href="flights/new">New Flight</a> | <a href="/flights/show">Show Flights</a>

    <h1>Title Placeholder: views/index.ejs </h1>
    <p>Welcome to  Title Placeholder</p>

<table border=1>
  <tr>
    <th>Airline</td>
    <th>Airport</td>
    <th>Flight #</td>
    <th>Departure</td>  
  </tr>
</table>


  </body>
</html>
