<%- include('../partials/header') %>

<form id="new-form" action="/flights" method="POST">
    <label>Airline</label>
    <select name="airline">
      <option type=String value="American">American</option>
      <option type=String value="Southwest">Southwest</option>
      <option type=String value="United">United</option>
    </select>
 
    <label>Airport</label>
    <select name="airport">
      <option type=String value="AUS">Austin-Bergstrom International Airport, Texas</option>
      <option type=String value="DFW">Dallas Forth Worth International Airport, Texas</option>
      <option type=String value="DEN" selected>Denver International Airport, Colorado</option>
      <option type=String value="LAX">Los Angeles International Airport, California</option>
      <option type=String value="SAN">San Diego International Airport, California</option>
    </select>
 
 
    <label>Flight Number:</label>
  <input type="number" min="10" max="9999" name="flightNo" >
  
  <label>Departure Date:</label>
  <input type="date" name="departs">

  <label>Departure time:</label>
  <input type="time" name="departureTime">
  
  <label>Destination</label>
  <select name="arrivalAirport">
    <option type=String value="AUS">Austin-Bergstrom International Airport, Texas</option>
    <option type=String value="DFW">Dallas Forth Worth International Airport, Texas</option>
    <option type=String value="DEN" selected>Denver International Airport, Colorado</option>
    <option type=String value="LAX" selected>Los Angeles International Airport, California</option>
    <option type=String value="SAN">San Diego International Airport, California</option>
  </select>

  <label>Arrival Date</label>
  <input type="date" name="arrives">

  <label>Arrival time:</label>
  <input type="time" name="arrivalTime">

  <input type="submit" value="Add Flight">
</form>

<%- include('../partials/footer') %>
